<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.children.toyexchange">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".presentation.widget.ToeCheApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToyExchange">
        <activity
            android:name="com.children.toyexchange.presentation.view.main.search.searchbar.SearchRecordActivity"
            android:exported="true" />
        <activity android:name=".presentation.view.main.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".presentation.view.signIn.activity.PhoneAuthActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.view.signIn.activity.SignInActivity"
            android:exported="true" />
        <activity android:name=".presentation.view.myToyUpload.ToyUploadActivity"
            android:exported="true">

        </activity>

        <activity android:name=".presentation.view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>